<footer class="footer navbar-expand-lg bg-body-tertiary mt-auto" >
    <div class="container">
        <span>&copy; GoCamp 2023</span>
    </div>
</footer>

<!-- footer is always at bottom if u do class="mt-auto" and in main do 
class="d-flex flex-column vh-100" 
jutify content inflex box moves everything, so for just moving the fooerm use this method
align-content moves left to right, jutify-content moves top to bottom

-->