<% layout("layouts/boilerplate.ejs") %>
       <div class="row">
        <div class="col-6 offset-3" >
            <h1 class="text-center display-1">Go Camp</h1>
        <!-- One way to make content in center -->
        <!-- 12 unit, middle 6 but offset 3 -->
   
        
        <div class="card">
        <img src="https://source.unsplash.com/collection/483251" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h4 class="card-title">Welcome!</h4>
          <p class="card-text">Discover the Best Campsites with GoCamp. If 
            you love camping, you've come to the right place! 
            GoCamp is a community of passionate campers who share 
            their experiences of free, paid, and low-cost campsites. 
            Our team has visited and rated each site, and 
            we've compiled a list of our favorites for you to explore. 
            Check out our campground reviews, hints, and tips to 
            make the most of your trip. 
            We encourage you to join us on our adventures and 
            share your own camping experiences across the country.</p>
        </div>

</div>