<% layout("layouts/boilerplate.ejs") %>
<h1>Register</h1>
<form action="/register" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">User Name : </label>
       <input class="form-control" type="text" name="user[username]" id="username" required placeholder="User name">
       <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email : </label>
       <input class="form-control" type="email" name="user[email]" id="email" required placeholder="email">
       <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">password : </label>
       <input class="form-control" type="password" name="user[password]" id="password" required placeholder="password">
       <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <button type="submit" class=" btn btn-success">Register</button>

</form>